#amostrar-lista-header:checked~#lista {
    display: flex;
    position: relative;
    top: 200%;
    left: 0;
}

header {
    left: 0;
    top: 0;
    position: absolute;
}

#lista {
    display: none;
}

#amostrar-lista-header {
    display: none;
}